.tabla-encabezado {
    width: 100%;
    /* margin-bottom: 20px; */
    border-collapse: collapse;
}

.tabla-encabezado th, .tabla-encabezado td {
    border: 1px solid #ddd;
    padding: 3px; 
    text-align: left;
    font-size: 12px;
}

.tabla-encabezado th {
    background-color: #eff0f0;
    font-weight: bold;
    font-size: 12px;
}


