/*Estilo formulario */
body {
    font-family: Arial, sans-serif;
}

.header {
    /* background-color: #266c78; */
    /* background-color: #519662; */
    background-color: #266c78;
    padding: 10px 25px;
    box-shadow: 4px 4px 15px rgba(0, 0 , 0, 0.3);
    color: #fff;
    position: fixed;
    width: 100%;
    z-index: 1000;
    top: 0;
    left: 0;
}

h1 {
    text-align: center;
    font-weight: 200;
    font-family: 'Montserrat';
}

.container {
    max-width: 900px;
    margin: 0 auto;
    padding-top: 140px;
    text-align: center;
}

.form-group {
    margin-bottom: 15px;
}

label {
    display: block;
    margin-bottom: 5px;
    font-family: 'Montserrat';
}

input {
    padding: 8px;
    width: calc(100% - 16px);
    border-radius: 10px;
    border-width: 0.1px;
    text-align: center;
}

.cont_items{
    display: flex; /* Activa Flexbox */
    flex-direction: row; /* Alinea los elementos en una fila (horizontalmente) */
    justify-content: space-between; /* Distribuye espacio entre los elementos */
    align-items: center; /* Alinea los elementos verticalmente al centro */
    gap: 10px;
}

.cont_cuatri{
    border: 1px solid black;
    padding: 15px 10px 0px 10px;
    border-radius: 10px;
    box-shadow: 0.1px 1px 5px rgba(0, 0 , 0, 0.3);
    margin: 0;
    margin-bottom: 15px;
    background-color: #eff0f0;
}


.btn {
    background-color: #fff;
    color: #266c78;
    padding: 15px 20px;
    border: 1px solid #266c78;
    cursor: pointer;
    font-family: 'Montserrat';
    font-size: 16px;
    width: 50%;
    border-radius: 10px;
    margin: 10px 0px 40px 0px;
    color: #266c78;
}

.btn:hover {
    background-color: #266c78;
    color: #fff;
}

/*##############################################*/

.container2{
    border: 1px solid #000;
    max-width: 900px;
    margin: 0 auto;
    text-align: center;
    padding-bottom: 10px;
    margin-top: 50px;
    box-shadow: 0.1px 1px 10px rgba(0, 0 , 0, 0.3);
}

.container-asistencias{
    max-width: 900px;
    margin: 0 auto;
    padding: 15px;
    padding-top: 5px;
    text-align: center;
    /* border: 1px solid #000; */
}

.tabla-asistencia {
    width: 100%;
    border-collapse: collapse;
    margin-top: 15px;
}

.tabla-asistencia th, .tabla-asistencia td {
    border: 1px solid #ddd;
    padding: 5px;
    text-align: center;
    font-size: 10px;
}

/* Estilo para select */
input[type="text"],
input[type="date"],
input[type="number"],
select {
    width: 100%;
    padding: 10px;
    margin: 5px 0;
    border: 1px solid #ccc;
    border-radius: 5px;
    font-family: 'Montserrat', sans-serif;
    font-size: 16px; 
    box-sizing: border-box; 
}
select {
    background-color: white; 
    -webkit-appearance: none;
    -moz-appearance: none; 
    appearance: none;
}



